{% extends "base.html" %}
{%block contents%}
<div class="container">
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-8 ">
            <span>Status:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color:rgb(0, 0, 153); stroke:rgb(0, 0, 153) ;">Open()</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color:rgb(0, 0, 153)   ; stroke:rgb(0, 0, 153) ;">Closed</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color:rgb(0, 0, 153); stroke:rgb(0, 0, 153) ;">On Hold</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>Created By:</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color:rgb(0, 0, 153); stroke:rgb(0, 0, 153) ;">You</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color:rgb(0, 0, 153)   ; stroke:rgb(0, 0, 153) ;">Team</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color:rgb(0, 0, 153); stroke:rgb(0, 0, 153) ;">My CCed tickets</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <div class="row">
                <div class="col form-control">
                    <span style="color: rgb(0, 0, 153); stroke:rgb(0, 0, 153);">Test ticket - ignore</span>
                </div>

            </div>
        </div>
        <div class="col">

        </div>
       
    </div>
</div>
{%endblock%}