{% extends 'base.html'%}
{% load static %}
{%block contents%}

<style>@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
   
    </style>
    <script>
    @import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');
        body{margin-top:50px;background: rgb(36, 39, 41);}
    </script>

<form action="" method="POST" > {% csrf_token %}
    <div class="row ">
        <div class="col-1">

        </div>
        <div class="col-7">
            <div class="row">
                &nbsp;
            </div>
            <div class="form-control row">
            <h4>Submit a ticket </h4><br>   
            <span>Ticket Information</span> <br><br>
            <label for="Department">Department <span style="color: red;">*</span></label><br><br>
            <div class="row ">
                <div class="col">
                    <select class="form-select" aria-label="Default select example" name='Department' id="Department">
                        <option value="VegaOps" style="color:blue ;">VegaOps</option>
                        <option value="iSupport" style="color:blue ;">iSupport</option>  
                    </select> <br>
                </div>
                <div class="col">

                </div>
            
                <label for="Category">Category<span style="color:red;">*</span></label><br><br>
                <select class="form-select" aria-label="Default select example" name="Category">
                    <option selected style="color:blue ;">-None-</option>
                    <option value="NEW Project CI/CD Pipeline Setup" style="color:blue ;">NEW Project CI/CD Pipeline Setup</option>
                    <option value="Update CI/CD Pipeline Configuration" style="color:blue ;">Update CI/CD Pipeline Configuration</option>
                    <option value="DevSecOps Pipeline Setup" style="color:blue ;">DevSecOps Pipeline Setup</option>
                    <option value="CI/CD pipeline failure" style="color:blue ;">CI/CD pipeline failure</option>
                    <option value="Automated Deployment failure" style="color:blue ;">Automated Deployment failure</option>
                    <option value="Docker and Containers" style="color:blue ;">Docker and Containers</option>
                    <option value="Kubernetes Deployments (like EKS/GCP)" style="color:blue ;">Kubernetes Deployments (like EKS/GCP)</option>
                </select><br><br>
                <label for="">VegaOps GitLab Project URL<span style="color: red;">*</span></label><br><br>
                <input type="text" name="url" id="url" class="form-control" ><br><br>
                
                <label for="">Subject<span style="color: red;">*</span></label><br><br>
                <input type="text" name="Subject" id="Subject" class="form-control" ><br><br>
                
                <label for="">Description<span style="color: red;">*</span></label><br><br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading form-control" >
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="New file">
                                            <i class="fa fa-file-o"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Save">
                                            <i class="fa fa-save"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Print">
                                            <i class="fa fa-print"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Source code">
                                            <i class="fa fa-code"></i> Source
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Bold">
                                            <i class="fa fa-bold"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Italic">
                                            <i class="fa fa-italic"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Underline">
                                            <i class="fa fa-underline"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Strikethrough">
                                            <i class="fa fa-strikethrough"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Cut">
                                            <i class="fa fa-scissors"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Copy">
                                            <i class="fa fa-copy"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Past">
                                            <i class="fa fa-paste"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Undo">
                                            <i class="fa fa-reply"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Redo">
                                            <i class="fa fa-share"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Align left">
                                            <i class="fa fa-align-left"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Align center">
                                            <i class="fa fa-align-center"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Align right">
                                            <i class="fa fa-align-right"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Align justify">
                                            <i class="fa fa-align-justify"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Numbered list">
                                            <i class="fa fa-list-ol"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Bulleted list">
                                            <i class="fa fa-list-ul"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Link">
                                            <i class="fa fa-link"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Unlink">
                                            <i class="fa fa-unlink"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default"  data-toggle="tooltip" title="Picture">
                                            <i class="fa fa-picture-o"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="HTML table">
                                            <i class="fa fa-table"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Font">
                                            <i class="fa fa-font"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <textarea class="form-control " name="Description" id="exampleFormControlTextarea1" rows="10"></textarea>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col">
                        <br><br><h4>Contact Details</h4> <br>
                    </div>
                </div>
                <label for="">Contact Name <span style="color: red;">*</span></label><br><br>
                <input type="text" name="ContactName" id="ContactName" class="form-control" value="{{ request.session.name }}"><br><br>
                <label for="">Email<span style="color: red;">*</span></label><br><br>
                <input type="text" name="email" id="email" class="form-control" value="{{request.session.email}}"><br><br>
                <label for="">Phone</label><br><br>
                <input type="text" name="Phone" id="Phone" class="form-control"><br><br>
                <h4>Additional Information</h4><br>
                <label for="Priority">Priority</label><br><br>
                <select class="form-select" aria-label="Default select example" name="Priority">
                    <option selected style="color:blue ;">-None-</option>
                    <option value="High - Production System Down" style="color:blue ;">High - Production System Down</option>
                    <option value="Medium - System Impaired" style="color:blue ;">Medium - System Impaired</option>
                    <option value="Low - General Guidance" style="color:blue ;">Low - General Guidance</option>
                </select><br><br>
                <label id="imageUploadLabel" for="imageUpload" class="button">Upload Picture</label><br><br>
                <input id="imageUpload" type="file"  capture="camera" name="file" ><br><br>
                <div class="row">
                    <div class="col">
                        <input type="submit" value="Submit" class="btn btn-primary"  >
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span><a href="{%url 'register'%}" style="color: black;">Discard</a></span>
                    </div>
                    <div class="col">
                        
                    </div>
                </div>
                
            </div>
        </div>
        </div>
        <div class="col">
            <div class="row">
                &nbsp;
            </div>
            <h5>Popular Articles</h5><br>
            <img src="{% static 'images/logo.jpg' %}" alt="Avatar" style="width:20px" />&nbsp;&nbsp;<a href="#"> PeerXP TDS Policy</a><br><br>
            <img src="{% static 'images/logo.jpg' %}" alt="Avatar" style="width:20px" />&nbsp;&nbsp;<a href="#"> How To Change Git Remote URL?</a><br><br>
            <img src="{% static 'images/logo.jpg' %}" alt="Avatar" style="width:20px" />&nbsp;&nbsp; <a href="#"> Google OAuth2 OmniAuth Provider for PWSLab ...</a><br><br>
            <img src="{% static 'images/logo.jpg' %}" alt="Avatar" style="width:20px" />&nbsp;&nbsp;<a href="#"> PWSLab Real-time CI/CD runners to save up to 90%... </a><br><br>
            <img src="{% static 'images/logo.jpg' %}" alt="Avatar" style="width:20px" />&nbsp;&nbsp;<a href="#">  Mirroring PWSLab Repositories to GitHub...</a>
            
           
        </div>
    </div>
</form>
{%endblock%}